html{
	font-family: 'Alegreya Sans SC', sans-serif;
	background-image: url("large_leather.png");
	text-align: center;
	}

header h1{
	font-size : 75px;
	}

img{
	margin: 10px;
	padding: 5px;
	
	}

a{ 
text-decoration: none;
 }

span{ float: right; 
	}


